/* .benefit-conatiner  */

.benefit-container {
  background-color: rgb(254, 243, 235);
  border-radius: 24px;
  margin: 3% 80px 80px;
  padding: 90px 80px;
  position: relative;
}
.benefit-container .benefit-section-1 {
  display: grid;
  place-items: center;
}
.benefit-container .benefit-section-1 .img-section {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
}
.benefit-section-1 img {
  width: 55%;
}

.benefit-container .benefit-section-2 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(247, 129, 45);
  border-radius: 12px;
  padding: 22px;
  width: 35%;
  position: absolute;
  left: 10%;
  top: 19%;
}
.benefit-container .benefit-section-2 p {
  font-family: "Work Sans";
  font-size: 16px;
  letter-spacing: -0.03em;
  color: rgb(102, 102, 102);
  line-height: 19px;
  text-align: left;
}
.benefit-container .benefit-section-3 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(247, 129, 45);
  border-radius: 12px;
  padding: 22px;
  width: 25%;
  position: absolute;
  left: 51%;
  top: 8%;
}
.benefit-container .benefit-section-3 p {
  font-family: "Work Sans";
  font-size: 16px;
  letter-spacing: -0.03em;
  color: rgb(102, 102, 102);
  line-height: 19px;
  text-align: left;
}
.benefit-container .benefit-section-4 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(247, 129, 45);
  border-radius: 12px;
  padding: 22px;
  width: 30%;
  position: absolute;
  left: 53%;
  top: 28%;
}
.benefit-container .benefit-section-4 p {
  font-family: "Work Sans";
  font-size: 16px;
  letter-spacing: -0.03em;
  color: rgb(102, 102, 102);
  line-height: 19px;
  text-align: left;
}

/* responsive section  */
@media only screen and (max-width: 767px) {
  /* .benefit-container  */
  .benefit-container {
    margin: 3% 20px 80px;
    padding: 65px;
  }
  .benefit-container .benefit-section-1 .img-section {
    height: 275px;
    width: 275px;
  }
  .benefit-container .benefit-section-2 {
    padding: 12px;
    left: 6%;
    top: 18%;
  }
  .benefit-container .benefit-section-2 p {
    font-size: 13px;
  }
  .benefit-container .benefit-section-3 {
    width: 35%;
    padding: 12px;
    left: 55%;
    top: 13%;
  }
  .benefit-container .benefit-section-3 p {
    font-size: 13px;
  }
  .benefit-container .benefit-section-4 {
    padding: 12px;
    left: 65%;
    top: 35%;
  }
  .benefit-container .benefit-section-4 p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  .benefit-container {
    padding: 65px 35px;
    margin: 3% 40px 80px;
  }
  .benefit-container .benefit-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
  .benefit-container .benefit-section-2 {
    position: static;
    width: 100%;
    margin: 13px 0;
  }
  .benefit-container .benefit-section-3 {
    width: 100%;
    margin: 13px 0;
    position: static;
  }
  .benefit-container .benefit-section-4 {
    width: 100%;
    margin: 13px 0;
    position: static;
  }
}
